/*div {
  border: 1px solid #ddd;
}*/
.navbar {
  width : 100%;
  height : 50px;
  margin-top: 15px;
}
.nav-elements-container {
  float: right;
  display: inline-block;
}
.nav-elements-container img {
  width: 15px;
  height: 15px;
  padding: 0 8px;
  vertical-align: middle;
}

.nav-elements-container h2 {
  display: inline-block;
  padding: 0 8px;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  color: #222;
  vertical-align: middle;
}
#signIn {
  background-color: #4485F5;
  color: #fff;
  border-radius: 3px;
  margin-right: 20px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.main-container {
  width: 100%;
}
.main-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.main-container .search-bar {
    display: block;
    width: 443px;
    height: 38px;
    margin: 20px auto 0 auto;
    padding: 0 9px 0 9px;
    font-size:  16px;
    line-height: 26px;
}
.main-container .button-container {
  text-align: center;
  padding: 18px 0 0 0;
}
.main-container .btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    height: 36px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: bold;
    color: #222;
    background: #F5F5F5;
    border-radius: 3px;
}

.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F2F2F2;
}
.footer a{
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #666;
  padding: 0 0 0 27px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
.footer-left-container {
  padding-top: 13px;
  display: inline-block;
}
.footer-right-container {
  padding-top: 13px;
  float: right;
  display: inline-block;
  margin-right: 27px;
}